.Qcocomponent{
    background-color: #e9e8e8 ;
    font-size: large ;
    width: 25%;
    margin: 16px auto;
    border: 1px solid rgb(221, 44, 44);
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: left;
    float: left;
    }